body {
    font-family: 'Krona One', arial, sans-serif;
    font-size: 17px;
    background-color: #dcdeff;
    margin-top: 4rem;
}

footer {
    font-size: .95rem;
    text-align: center;
}

/* First and Last name title */
h1 {
    margin-left: 1.5rem;
    color: #dcdeff;
    font-family: 'Lobster', cursive;
}

/* Title of the Webpage*/
h2 {
    border-bottom-style: dotted;
    border-width: .15rem;
    margin-left: 1.5rem;
}

header,
footer {
    border: 2px solid #dcdeff;
    padding: 1rem;
    background-color: #003366;
    border-radius: .5rem;
    color: #dcdeff;
}

header,
main,
footer {
    max-width: 55%;
    margin: 0 auto;
    color: #dcdeff;
}

/* Picture of me*/
header img {
    width: auto;
    height: 12rem;
    border-radius: .3rem;

}

/*Final line of the footer, including modified dynamically*/
#updated {
    color: #dcdeff;

}

/* unvisited link */
a:link {
    color: #188bff;
}

/* visited link */
a:visited {
    color: #188bff;
}