body {
    font-family: 'Krona One', arial, sans-serif;
    font-size: 17px;
    background-color: #fffddc;
    margin-top: 4rem;
}

footer {
    font-size: .95rem;
    text-align: center;
}

/* First and Last name title */
h1 {
    margin-left: 1.5rem;
    font-family: 'Lobster', Arial, cursive;
    font-size: 3rem;
}

/* Title of the Webpage*/
h2 {
    border-bottom-style: dotted;
    border-width: .15rem;
    margin-left: 1.5rem;
}

header,
footer {
    border: 2px solid bf92c9;
    padding: 1rem;
    background-color: #333c15;
    border-radius: .5rem;
    color: #fffddc;
}

header,
main,
footer {
    max-width: 55%;
    margin: 0 auto;

}

/* Picture of me*/
header img {
    width: auto;
    height: 12rem;
    border: 2px solid #4B2951;
    border-radius: .3rem;

}

li {
    margin: 1.5rem;
}

main {
    color: #333c15;
    padding: 1rem;
}

/*Final line of the footer, including modified dynamically*/
#updated {
    color: #fffddc;

}

footer a:link {
    color: #c7a0cf;
}

footer a:visited {
    color: #c7a0cf;
}

/* unvisited link */
a:link {
    color: #4B2951;
}

/* visited link */
a:visited {
    color: #625559;
}