@media only screen and (min-width: 80em) {
    #examplescontainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2em;
        text-align: right;
    }

    #repetition {
    grid-column: 3 / 4;
        text-align: center;
    }

    header,
    main,
    footer {
        max-width: 55%;
        margin: 0 auto;
        color: #000204;
    }

    footer {
        font-size: .95rem;
        text-align: center;
        line-height: .5rem;
    }

}