body {
    font-family: 'Krona One', arial, sans-serif;
    font-size: 17px;
    background-color: #dcdeff;
    margin-top: 4rem;
}

footer {
    font-size: .95rem;
    text-align: center;
}

/* Assignment title */
h1,
h3 {
    color: #dcdeff;
    text-align: center;
}

/* */
h2 {
    border-bottom-style: dotted;
    border-width: .15rem;
    text-align: center;
    color: black;
}

header {
    font-family: 'Lobster', cursive;
}

header,
footer {
    border: 2px solid #dcdeff;
    padding: 1rem;
    background-color: #003366;
    border-radius: .5rem;
    color: #dcdeff;
}

header,
main,
footer {
    max-width: 100%;
    margin: 0 auto;
}

img {
    height: auto;
    width: 18rem;
    border: 1rem solid #003366;
}
main {
    color: black;
}

ul {
    list-style-type: none;
}

/*Final line of the footer, including modified dynamically*/
#updated {
    color: #dcdeff;
    font-size: .95rem;
}

#examplescontainer {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2em;
    text-align: right;
}

#maintitle {
    font-size: 3.5rem;
}

/* unvisited link */
a:link {
    color: #188bff;
}

/* visited link */
a:visited {
    color: #188bff;
}