body {
    font-family: 'Krona One', arial, sans-serif;
    font-size: 17px;
    background-color: #dcdeff;
    margin: 3rem;
}


footer {
    font-size: .95rem;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

/* Assignment title */
h1,
h3 {
    color: #dcdeff;
    text-align: center;
}

/* White Space, Visual Hierarchy, Repetition*/
h2 {
    border-bottom-style: dotted;
    border-width: .15rem;
    text-align: center;
    color: black;
}

header {
    font-family: 'Lobster', sans-serif, cursive;
}

header,
footer {
    padding: 1rem;
    background-color: #003366;
    border-radius: .5rem;
    color: #dcdeff;
}

header,
main,
footer {
    margin: 0 auto;
}

img {
    border: .8rem solid #003366;
    border-radius: .3rem;
    width: 80%;
}

main {
    color: #000204;
}

ul {
    list-style-type: none;
}

#examplescontainer {
    display: grid;
}

/*Final line of the footer, including modified dynamically*/
#updated {
    color: #dcdeff;
    font-size: .95rem;
}

/* unvisited link */
footer a:link {
    color: #fffddc;
}

/* visited link */
footer a:visited {
    color: #fffddc;
}


/* unvisited link */
a:link {
    color: #4B2951;
}

/* visited link */
a:visited {
    color: #625559;
}