* {
    padding: 0;
    font: 16px;
    font-family: "Raleway", Arial, sans-serif;
}

body {
      margin: 4rem;
}

/* Logo*/
header img {
    width: auto;
    height: 12rem;
    border: 2px solid #1D3557;
    border-radius: .3rem;
    float: left;
    height: 9rem;
}

h1 {
    color: #F4E04D;
    font-family: "Montserrat", Arial, serif;
    font-size: 2.5rem;
}

.block {
background-color: #D3D3D3;
font-size: 1.5rem;
font-family: "Raleway", Arial, sans-serif;
border-style: solid;
border-radius: .4rem;
padding: .5rem;
margin: .2rem;

}

header,
footer {
    text-align: center;
    border: 2px solid #CEE397;
    padding: 1rem;
    background-color: #1D3557;
    border-radius: .5rem;
    color: #8DB1AB;
}

a {
    color: #F2ED6F;
}

nav {
    margin: 0 auto;
    background-color: #F2ED6F;
    border-radius: .3rem;
    width: 100%;

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* hamburger button */
.navigation {
    margin: .15rem 2%;
    background-color: transparent;
    font-size: 1.6rem;
    color: #1D3557;
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}

nav ul li a {
    padding: .8rem 2%;
    
    /* removes underline for links */
    text-decoration: none;
    color: #1D3557;
    /* border-top: 1px solid; */
}

nav ul li a:hover {
    background-color: #8DB1AB;
}

.hide li {
    display: block;
    }