* {
    padding: 0;
    font: 16px;
    font-family: "Raleway", Arial, sans-serif;
}

body {
    color: black;
    margin: 4rem;
}

/* Logo*/
header img {
    width: auto;
    height: 12rem;
    border: 2px solid #1D3557;
    border-radius: .3rem;
    float: left;
    height: 9rem;
}
h1 {
    color: #F4E04D;
    font-family: "Montserrat", Arial, serif;
    font-size:2.5rem;
}
header,
footer { 
    text-align: center;
    border: 2px solid #CEE397;
    padding: 1rem;
    background-color: #1D3557;
    border-radius: .5rem;
    color: #CEE397;
}
a {
    color: #F2ED6F;
}

/* hamburger button */
nav {
margin: 0 auto;
max-width: 760px;
background-color: #000;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav button {
    margin: .2rem 2%;
background-color: transparent;
font-size: 1.6rem;
color: white;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color:yellow;
    border-top: solid rgba(0,0,0, .5);
}
nav ul li .active a {
    background-color: rgba(0,0,0,.2); color: #fff;
}
nav ul li a:hover {
    background-color:thistle;
}
/* menu will hide or appear when you click the button */
nav ul.hide  {
    display: none;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}