@media only screen and (min-width: 50em) {
    h1 {
        font-size: 3.5rem;
    }

    body {
        margin: 12rem;
    }

    header,
    footer {
        border: 2px solid #CEE397;
        padding: 1rem;
        background-color: #1D3557;
        border-radius: .4rem;
        color: #8DB1AB;
    }

    /***Header***/

    .hero {
        height: 49rem;
        width: auto;
    }

    header h1 {
        text-align: right;
    }

    header img {
        width: auto;
        height: 16rem;
        border-radius: .4rem;
        float: right;
        padding-top: .2rem;
    }

    #motto {
        font-size: 2rem;
        text-align: right;
    }

    #stormsighting {
        padding-left: 2rem;
    }

    /*Navigation Bar*/
    .navigation {
        padding: 1rem;
    }

    a {
        color: #F2ED6F;
        font-size: 2rem;
    }

    /*------------- Article --------------*/
    #eachtown {
        border: 2px solid #1D3557;
        padding: .2rem;
    }
    

    #wheat {
        height: 20rem;
        width: auto;
    }

    /***Contact***/
    #contact {
        padding-top: 2rem;
    }

    .social {
        padding-left: 4rem;
        border-radius: .4rem;
    }

    .bottom a {
        font-size: 1rem;
    }
}