@media only screen and (min-width: 900px) {
    h1 {
        font-size: 3.5rem;
    }

    body {
        margin: 12rem;
    }

    header,
    footer {
        border: 2px solid #CEE397;
        padding: 1rem;
        background-color: #1D3557;
        border-radius: .4rem;
        color: #8DB1AB;
    }

    /***Header***/
    header h1 {
        text-align: right;
    }

    header img {
        width: auto;
        height: 16rem;
        border-radius: .4rem;
        float: right;
        padding-top: .2rem;
    }

    #motto {
        font-size: 2rem;
        grid-column-start: 2;
        text-align: right;
    }

    #stormsighting {
        padding-left: 2rem;
    }
    
    /*Navigation Bar*/
    .navigation {
        padding: 1rem;
    }

    a {
        color: #F2ED6F;
        font-size: 2rem;
    }

/*------------- Article --------------*/
article div {
    display: flex;
   /* grid-template-columns: repeat(auto-fit, minmax(340px, 1fr)); */
    padding: 1rem;
} 

    /***Contact***/
    #contact {
        padding-top: 2rem;
    }

    .social {
        padding-left: 4rem;
        border-radius: .4rem;
    }

    .bottom a {
        font-size: 1rem;
    }
}