@media only screen and (min-width: 31.25em) {

    header,
    footer {
        border-radius: .3rem;
    }

    .block {
        padding: .3rem;
        margin: .3rem;
    }

    /***Header***/
    header img {
        border-radius: .3rem;
        margin-left: 3rem;
        margin-right: 3rem;
        float: right;
    }

    header h1,
    #motto {
        text-align: right;
    }

    nav {
        border-radius: .3rem;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
        
    }

    .navigation a {
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    nav ul li a {
        padding: .5rem 5%;
        /* removes underline for links */
        text-decoration: none;

    }

    /*------------- Towns --------------*/
    .carditem img {
        max-width: 70%;
        padding: 2.5rem;
    }

    .carditem div {
        padding-left: .4rem;
        text-align: center;
    }

    .carditem {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .rightside {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    /*------------- History --------------*/

    #wheat {
        float: right;
        margin: 1rem;
        max-width: 25rem;
    }


}