/***Entire Page***/
* {
    padding: 0;
    font-size: 16px;
    font-family: "Montserrat", Arial, sans-serif;
}

body {
    font-family: "Ubuntu", serif;
    max-width: 2000px;
}

.block {
    border: 2px solid #1D3557;
    padding:.5rem;
}

h1 {
    color: #F4E04D;
}

h2 {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 1.2rem;
    color: #1D3557;
    text-align: center;
}

h3 {
    text-align: center;
    padding-top: 1rem;
}

/*------------- Header ---------------*/


#motto {
    color: #8DB1AB;
    text-align: center;
}

#stormsighting {
    color: #1D3557;
}

header,
footer {
    border: 2px solid #CEE397;
    background-color: #1D3557;
    color: #8DB1AB;
}

a {
    color: #F2ED6F;
}

header img {
    height: 8rem;
    border: 2px solid #1D3557;
    float: left;
    padding-top: .5rem;
}

/***Wayfinder***/
.active {
    opacity: 0.75;
    background-color: #1D3557;
    color: white;
}

/***Navigation Bar***/
nav {
    margin: 0 auto;
    background-color: #F2ED6F;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/***Hamburger Button***/
.navigation {
    margin: .15rem 2%;
    background-color: transparent;
    font-size: 1.6rem;
    color: #1D3557;
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

nav ul li a {
    padding: .1rem 1%;
    /*removes underline for links*/
    text-decoration: none;
    color: #1D3557;
    /*border-top: 1px solid;*/
}

nav ul li a:hover {
    background-color: #8DB1AB;
}

.hide li {
    display: block;
}

/*------------- Article --------------*/
/* article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 1rem;
}  */

article img {
    max-width: 90%;
}

article h2 {
    font-family: "Montserrat";
    text-align: left;
}

article h3 {
    text-align: left;
}

/*------------- Footer --------------*/
/***Contact***/

.bottom {
    text-align: center;
}
#contact {
    padding: 1rem;
    text-align: right;
}

#contactinfo {
    color: #8DB1AB;
    text-align: right;
    padding-bottom: 1rem;
}
.social {
    background-color: #8DB1AB;
    border-radius: .4rem;
}