/***Entire Page***/
* {
    padding: 0;
    font-size: 16px;
    font-family: "Montserrat", Arial, sans-serif;
}

body {
    margin: 1rem;
    max-width: 2000px;
}

.block {
    border-style: solid;
    padding: .5rem;
}

h1 {
    color: #F4E04D;
}

h2 {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 1.2rem;
    color: #1D3557;
    text-align: center;
}

h3 {
    text-align: center;
    padding-top: 1rem;
}

#motto {
    color: #8DB1AB;
    text-align: center;
}

header,
footer {
    border: 2px solid #CEE397;
    background-color: #1D3557;
    color: #8DB1AB;
}

a {
    color: #F2ED6F;
}

/***Header***/
header img {
    height: 8rem;
    border: 2px solid #1D3557;
    float: left;
    padding-top: .5rem;
}
/*Wayfinder*/
#preston:hover {
    opacity: 0.75;
    background-color: #1D3557;
    color: white;
}

/*Navigation Bar*/
nav {
    margin: 0 auto;
    background-color: #F2ED6F;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*Hamburger Button*/
.navigation {
    margin: .15rem 2%;
    background-color: transparent;
    font-size: 1.6rem;
    color: #1D3557;
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

nav ul li a {
    padding: .1rem 1%;
    /*removes underline for links*/
    text-decoration: none;
    color: #1D3557;
    /*border-top: 1px solid;*/
}

nav ul li a:hover {
    background-color: #8DB1AB;
}

.hide li {
    display: block;
}

/*Title Preston, Idaho*/
#pagetitle {
    color: #1D3557;
}

/*Friday Pancake Banner*/
.popup {
    display: none;
    padding: .5rem;
    font-size: 1.3rem;
    background-color: #8DB1AB;
    text-align: center;
    font-family: "Montserrat", Arial, sans-serif;
}

/*** Hero Image and overlay Weather Summary***/
/*Hero Image*/
.overlay {
    margin: 10px auto;
    position: relative;
}

.hero {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: .5rem;
}

/*Weather Summary*/
.stats {
    box-shadow: 0 0 10px #1D3557;
    background: #F2ED6F;
}

.weatherdetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.label {
    font-weight: bold;
    padding-left: 3rem;
}
.value {
    font-style: italic;
}

/***Weather Forecast Table***/
.forecast {
    display: flex;
    flex-flow: row wrap;
    background-color: #8DB1AB;
    margin-bottom: 3rem;
}

.days {
    flex: 1 1 auto;
}

.days,
.column-col,
.grid-col {
    border: 1px solid #333;
    text-align: center;
}

.days:hover,
td:hover,
.column-col:hover,
.grid-col:hover {
    opacity: 0.75;
    background-color: #1D3557;
    color: white;
}

.forecast,
img {
    margin: .5rem;
}

.day {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #333;
    text-align: center;
}

.data {
    display: block;
    padding: 0 5px 5px;
    font-size: 0.8rem;
    text-align: center;
}

/***Article***/
#articleimg {
    width: auto;
    height: 8rem;
    box-shadow: 0 0 20px #111;
    margin-left: 4rem;
}

#newsarticle {
    font-size: 1rem;
    color: black;
}

/***Contact***/
#contact {
    padding-right: 1rem;
    text-align: right;
}

#contactinfo {
    color: #8DB1AB;
    text-align: right;
    padding-bottom: 1rem;
}
.social {
    background-color: #8DB1AB;
    border-radius: .4rem;
}

.bottom {
    text-align: center;
}

.map {
    width: 90%;
}