@media only screen and (min-width: 900px) {
    .navigation {
    font-size: 2.5rem;
    padding: 1rem;
    }

    .stats {
        display: block;
    }

    .label {
        margin: 1rem;
    }

    .value {
        margin: 1rem;
    }

}