@media only screen and (min-width: 900px) {
    

    h1 {
        font-size: 3.5rem;
        justify-items: left;
           }


           header {
               padding: 1rem;
           }
/* Logo*/

header img {
    width: auto;
    height: 16rem;
    border-radius: .3rem;
    float: right;
    
}

header h1 {
    text-align: right;
}
#motto {
   font-size: 2rem;
   text-align: right;
}    
    
    .navigation {
    padding: 1rem;
    }

    a {
        color: #F2ED6F;
        font-size: 2rem;
    }

    .stats {
        display: block;
    }

    .label {
        margin: 1rem;
    }

    .value {
        margin: 1rem;
    }


    #pagetitle {
        padding-left: 3.5rem;
     
        font-size: 2.5rem;
    }

    /* Contact */
#contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-right: 6rem;
    
}
#contact, h2 {
padding-left: 0;
}

.map {
    padding-left: 2rem;
}

.bottom {
    text-align: center;
}
.bottom a {
    font-size: 1rem;
}

}