@media only screen and (min-width: 50em) {
/* Navigation Bar */
nav {
    font-size: 1.5rem;
}

.navigation li:first-child {
    display: none;
}


/*------------- Towns --------------*/
.carditem {
    font-size: 1.5rem;
}

.carditem  p {
    text-align: right;
    padding-right: 2rem;
}
/*------------- Overlay --------------*/
.herooverlay {
    margin: 10px auto;
    position: relative;
}

.overlay {
    position: absolute;
    top: 25px;
	right: 50px;
}
/*------------- Forecast --------------*/
.labels {
    font-size: 1.1rem;
}

/*------------- Gallery --------------*/
#thegallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
img:hover {
    box-shadow: 0 0 50px #333;
}
}