@media only screen and (min-width: 50em) {
    header {
        text-align: right;
    }

    #logo {
        float: right;
        padding-left: .7rem;
        padding-right: 4rem;
        margin-bottom: 1rem;
    }

    /*---------- Navigation Bar ----------*/
    .navigation {
        font-size: 1.5rem;
    }

    .navigation li:first-child {
        display: none;
    }

    /*------------- Towns --------------*/
    .towndata {
        display: flex;
        flex-wrap: nowrap;
    }

    #townh2 {
        text-align: center;
    }

    .carditem {
        display: block;
    }

    /*------------- Overlay --------------*/
    .herooverlay {
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .overlay h2 {
        padding-left: .3rem;
    }

    /*------------- Forecast --------------*/

    .forecast {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .day {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
    }

    .labels {
        font-size: 1.1rem;
    }

    /*------------- Gallery --------------*/
    #thegallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery img:hover {
        box-shadow: 0 0 50px #1D3557;
    }

    /*------------- Footer --------------*/

    .contact>img {
        padding-left: 2rem;
        border-radius: .5rem;
        float: left;
    }
}