@media only screen and (min-width: 50em) {
/*------------- Body --------------*/
   body {
    margin: 8rem;
}

/* Navigation Bar */
.navigation ul {
    padding-inline-start: 40px;
}
.navigation {
    font-size: 1.5rem;
}
.navigation li:first-child {
    display: none;
}

/*------------- Towns --------------*/
.towndata h2 {
    padding-right: 2rem;
}
.carditem {
    font-size: 1.5rem;
    border: 1px dotted #1E153C;
}
.carditem  p {
    text-align: center;
    padding-right: 2rem;
}

/*------------- Overlay --------------*/
.herooverlay {
    margin: 10px auto;
    position: relative;
}

.overlay {
    position: absolute;
    top: 25px;
	right: 50px;
}
/*------------- Forecast --------------*/
.forecast {
 display: grid; 
 grid-template-columns: repeat(5, 1fr);
 
}
.day {
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   justify-content: center;
}

.labels {
    font-size: 1.1rem;
}

/*------------- Gallery --------------*/
#thegallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
img:hover {
    box-shadow: 0 0 50px #333;
}

/*------------- Gallery --------------*/

.contact>img {
    padding-left: 2rem;
    border-radius: .5rem;
    float: left;
    
}

}