@media only screen and (min-width: 31.25em) {
    /*------------- Body --------------*/
    body {
        margin: 4rem;
        text-align: right;
    
    }
    
    /* Wayfinder */
.active {
    opacity: 0.75;
    background-color: #1D3557;
    color: white;
    padding: 1rem;
    border-radius: .5rem;
}
    
    /*------------- Hamburger Button --------------*/  
    .navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
        padding: .5rem;
        text-decoration: none;
	}
	.navigation li:first-child {
		display: none;
	}
    
    /*------------- Towns --------------*/
    .carditem img {
        max-width: 70%;
        padding: 2.5rem;
    }

    .carditem div {
        text-align: center;
    }

    .carditem {
        border: 2px solid #1D3557;
        margin: .5rem;
        padding: .5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .rightside {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }


      /*------------- Gallery --------------*/
      #thegallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}