/******--Entire Site--******/

body {
    background-color: #C2D6D2; 
    font-family: "Montserrat", Arial, sans-serif;
    color: #1D3557;
}

.block {
    border: 1px solid #1D3557;
    border-radius: .5rem;
    margin: 1rem;
}

h1 {
    font-size: 2.6rem;
    color: #1E153C;
    font-family: "Raleway", Arial, sans-serif;
    
}

/****** HEADER ******/
.popup {
    text-align: center;
    font-size: 1.5rem;
    background-color: #CEE397;
    display: none;
    padding: .3rem;
}

header {
    text-align: right;
}

#logo {
    float: right;
    padding-left: .7rem;
    padding-right: 4rem;
    margin-bottom: 1rem;
}

/****** HEADER ******/
/****** Navigation ******/
nav {
    margin: 0 auto;
	/* max-width: 760px; */
}
.navigation {
    list-style: none;
    padding: 0;
    width: 100%;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    transition: .5s;
}

.navigation a:hover {
    background-color: #F2ED6F;
    color: #1D3557;
    padding: 1rem;
    border-radius: .5rem;
}

.responsive li {
    display: block;
}
/* Navigation */
/* Wayfinder */
.active {
    opacity: 0.75;
    background-color: #1D3557;
    color: white;
    padding: .5rem;
    border-radius: .5rem;
}

.active:hover {
    background-color: #1D3557;
    color: white;
}
/* Search */
.search{
    margin-right: 3rem;
    margin-top: -.7rem;
    border-radius: .5rem;
}

.search label {
    text-align: right;
    color:#1E153C;
    text-decoration: double;
}

.searchbtn {
padding: .5rem;
margin-bottom: 1rem;
border-radius: .5rem;
}

/******BODY******/
/* HOME */
/* Individual Town Data Cards */
.towndata {
    padding: 2rem;
}

.towndata img {
    max-width: 100%;
}

.carditem div {
    padding-top: 5rem;
}

/* HOME */
/* News Article */
.wheat {
    float: right;
    margin: 1rem;
    border-radius: .5rem;
    max-width: 100%;
}

.news {
    padding: 1.5rem;
}

/* PRESTON, SODA SPRINGS, and FISH HAVEN*/
/* Current Conditions */

.hero {
    width: 100%;
}
.overlay {
    background-color: #CEE397;
    opacity: 80%;
    box-shadow: 0 0 10px #1D3557;
    width: 15%;
}

.overlay h2 {
    text-align: center;
}

.weatherconditions {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.label {
    font-weight: bold;
}

.value {
    text-align: center;
}

.first {
    font-size: 1.3rem;
    text-align: left;
}

/* PRESTON, SODA SPRINGS, and FISH HAVEN*/
/* Forecast Table */
.table {
    margin-left: 8rem;
    margin-right: 4rem;
}
.table h3, h2 {
    padding-right: 1rem;
}

.forecast {
    background-color: #8DB1AB;
    margin-bottom: 3rem;
}

.forecast img {
    border-radius: .5rem;
    margin: .5rem;
    box-shadow: 0 0 5px #1D3557;
}

.day {
    box-shadow: 0 0 10px #1D3557;
    border-radius: .5rem;
    padding: .3rem;
    border-bottom: 1px solid #1E153C;
}

.day:hover {
    opacity: 0.75;
    background-color: #1D3557;
    color: white;
}

.labels {
    font-weight: bold;
    padding: .2rem;
    display: block;
    text-align: center;
}
/* PRESTON, SODA SPRINGS, and FISH HAVEN*/
/* Upcoming Events */
.upcomingp h3 {
    padding-right: .5rem;
    margin: 1rem;
}


/* STORM CENTER*/
/* Form */
#formarea {
    background-color: #8DB1AB;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid white;
    padding: 1.5rem 2%;
}

form legend {
    color: #1D3557;
    font-style: italic;
    margin: 0.5rem;
    padding: 0 .5rem;
}

form label,
form div {
    display: block;
    padding-top: 1rem;
    color: #1D3557;
}

#ratingvalue {
    color: #1D3557;
    font-weight: 700;
}

#danger {
    border: 1px dotted white;
    font-style: italic;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.sbutton {
    padding-right: 1rem;
    margin: 2rem;
    background-color: #F2ED6F;
    box-shadow: .5rem .5rem .5rem #1D3557;
    margin-bottom: 1.5rem;
}

.sbutton:hover {
    background-color: #CEE397;
}

label,
input {
    text-align: center;

}

input,
select {
    padding: .75rem;
}

form label input:required {
    border-left: red solid 4px;
}

form label input:required:valid {
    border-left: green solid 4px;
}

#gracias {
    padding: 2rem;
    background-color: #CEE397;
    color: #1D3557;
    font-size: 2rem;
    margin: 4rem;
}

/* GALLERY */
.gallery {
    display: grid;
    margin: 1rem;
    border: 1px solid #1D3557;
    border-radius: .5rem;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 1rem;
    text-align: center;
}

.title {
    padding: 1rem;
    text-align: center;
}

/******FOOTER******/

.contact {
    padding-right: .5rem;
}

.contact .social {
    padding-right: 0;
}

.social {
    margin: .5rem;
}

.social a {
    color: transparent;
}