* {
    padding: 0;
    font: 16px;
    font-family: "Raleway", Arial, sans-serif;
}

:root {
    --primary-color: #93B49A;
    /*light green*/


}

#minion {
    background-color: #F4E04D;
}

#corn {
    background-color: #F2ED6F;
}

#yellow {
    background-color: #CEE397;
}

#morning {
    background-color: #8DB1AB;
}

#blue {
    background-color: #587792;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #dddddd;
}

td,
th {
    text-align: left;
    padding: .5rem;
}


table img {
    width: auto;
    height: 10rem;
}

body {
    font: black;
    margin: 4rem;
}
nav ul {
    display: flex;
}

nav ul li {
    flex: 3;
    list-style: none;
}
h1 {
    color: #F4E04D;
    font-family: "Montserrat", Arial, serif;
}
header,
footer {
    border: 2px solid #CEE397;
    padding: 1rem;
    background-color: #587792;
    border-radius: .5rem;
    text-align: center;
    color: #CEE397;
}
a {
    color: #F2ED6F;
}